<!--<p>bottom-navigation works!</p>-->
<nav class="nav navbar-expand bg-dark navbar-dark fixed-bottom  ">
    <div class="container-fluid">
        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/aboutUs">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/contact">Contact<i class="fa-regular fa-square-phone-hangup"></i></a>
                
                
                
            </li>

        </ul>
    </div>
</nav>

